#container{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#container img{
	float: left;
	height:128px;
}

#smmry{
	clear: both;
	text-align: center;
	width: 75%;
	margin-left:auto;
	margin-right:auto;
}
